*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

.grid_container{
    display: grid;   
    justify-content: space-between;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main"
    "footer footer footer";
}

header{
    grid-area: header;
    background-color: blue;
    height: 7vh;
}
aside{
    grid-area: aside;
    background-color: red;
    width: 20vw;
    height: 86vh;
}
.grid_item{
    display: grid;
    grid-area: main;
    grid-template-columns: repeat(3, 1fr);
    background-color: green;
    width: 80vw;
    height: 86vh;
    
}

.grid_flex_container{
    background-color: yellow;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.grid_box_item_text{
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: aqua;
    height: 7vh;
}